<html>
<head>
  <title>Script: {{ plan.dates }}</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" />
  <style>
    header {
      margin-bottom: 5px;
      text-align: center;
    }
    hr {
      border-color: black;
      margin: 1px 0;
    }
    table {
      border: 2px solid black;
      font-size: 12px;
      width: 100%;
    }
    th {
      background: black;
      color: white;
      font-weight: normal;
      padding: 7px 5px;
      text-align: center;
    }
    td {
      border: 1px solid black;
      padding: 7px 5px;
      text-align: center;
    }
    td.header {
      background: #999;
      border-left: 0;
      border-right: 0;
      color: white;
      padding: 5px;
      text-align: center;
    }
    td p {
      margin-bottom: 0;
    }
    
    /* Format tables in item descriptions */
    .description table {
      border: none;
    }
    .description table td {
      border-color: #999;
      border-width: 1px 0;
      padding: .75px 0;
      text-align: left;
    }
    
    /* Pretty paper look */
    body {
      background: rgb(204,204,204); 
    }
    .page {
      background: white;
      box-shadow: 0 0 0.2in rgba(0,0,0,0.5);
      display: block;
      height: 11in;
      margin: 0 auto;
      margin-bottom: 0.2in;
      padding: 0.3in;
      width: 8.5in;
    }
    @media print {
      body, .page {
        background: white;
        box-shadow: 0;
        height: 100%;
        margin: 0;
        padding: 0;
        width: 100%;
      }
      html {
        margin: 0.25in;
      }
    }
  </style>
</head>
<body>
  <div class="page">
    
    <header>
      <small>
        {% for note in plan.notes %}
          {% if note.category_name == "Information" %}
            {% if note.note == "NONE" %}
              ** PLAN IS UNFINALIZED **
            {% else %}
              ** INFORMATION {{ note.note | upcase }} **
            {% endif %}
          {% endif %}
        {% endfor %}
      </small>
      <br>
      <b>PRODUCTION SCRIPT: {{ plan.dates }} {% if plan.plan_title != "" %} ({{ plan.plan_title }}) {% endif %}</b>
    </header>
    
    <table>
      <thead>
        <tr>
          <th width="5%">Cues</th>
          <th width="5%">Clock</th>
          <th width="5%">Time</th>
          <th width="40%" style="text-align: left">Element</th>
          <th width="15%">Side Screens</th>
          <th width="15%">Center Screen</th>
          <th width="15%">Other</th>
        </tr>
      </thead>
      <tbody>
        {% for item in plan.items %}
          <tr>
            {% case item.item_type %}
              {% when 'Header' %}
                <td colspan="3" class="header"></td>
                <td class="header">{{ item.title }}</td>
                <td colspan="3" class="header"></td>
              {% else %}
                <td></td>
                <td>{{item.offset}}</td>
                <td>{{ item.length }}</td>
                <td style="text-align: left" class="description">
                  <b>{{ item.title }}</b>
                  <br>
                  {{ item.description }}
                  {% if item.details != "" %}
                    <hr>
                    {{ item.details }}
                  {% endif %%}
                </td>
                <td>{% for note in item.notes %}{% if note.category_name == "Side Screens" %}{{ note.note }}{% endif %}{% endfor %}</td>
                <td>{% for note in item.notes %}{% if note.category_name == "Center Screen" %}{{ note.note }}{% endif %}{% endfor %}</td>
                <td>{% for note in item.notes %}{% if note.category_name == "Other" %}{{ note.note }}{% endif %}{% endfor %}</td>
            {% endcase %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</body>
</html>
